<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
    <title>Orange-TN</title>      
    {% endblock %}
</head>
<body>
    {% include 'nav.html' %}
    {% block content %}

    {% endblock %}

</body>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/popper.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</html>