{% load static %}
{% block title %}
<title> Orange TN</title>
{% endblock %}

{% include 'base.html' %}
{% block content %}

{% endblock %}
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/popper.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>