{% extends 'base.html' %}


{% block content  %}
{% if user.is_authenticated %}
    <h1>bienvenue</h1><h2>{{user.username}}</h2>
    <a href="{% url 'accounts:logout' %}">Logout</a>
    {% endif %}
    <br><br>
{% endblock %}