{% extends 'base.html' %}

  
{% block content %}
<form method="POST">
    
  {% csrf_token %}
 
   <div class="form-group">
     <label for="username" class="form-label mt-4">username</label>
     <input type="text" class="form-control"  placeholder="votre nom" name="username">
   </div>
   <div class="form-group">
         <label for="password" class="form-label mt-4">Password</label>
         <input type="password" class="form-control"  placeholder="Password" name="password">
       </div>
       <input type="submit" name="signup"  class =" btn btn-outline-warning"value="connnecter">
     </div>  
 </form>
{% endblock content %}

