{% extends 'base.html' %}
{% block content %}
  

<form method="POST">
    
 {% csrf_token %}

<form>
    <fieldset class="container">
      <legend>inscription</legend>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
       
      </div>
      <div class="form-group">
        <label for="username" class="form-label mt-4">nom d'utiliateur</label>
        <input type="text" class="form-control"  placeholder="votre nom d'utiliateur" name="username">
      </div>

      <div class="form-group">
        <label for="first name" class="form-label mt-4">nom</label>
        <input type="text" class="form-control"  placeholder="votre nom" name="first name">
      </div>
      <div class="form-group">
        <label for="last name" class="form-label mt-4">prenom</label>
        <input type="text" class="form-control"  placeholder="votre prenom" name="last name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"namz="email adress">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
        <input type="password" class="form-control"  placeholder="Password" name="password">
      </div>
    
      <input type="submit" name="signup" value="s'inscrire" class=" btn btn-outline-warning" >
    </fieldset>
  </form>
{% endblock content %}