{% extends 'base.html' %}

{% block title %}
    <title>Supprimer un service</title>
{% endblock %}
    
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>Êtes-vous sûr de vouloir supprimer le service {{ service.nom }} ?</p>
        <input type="submit" value="Oui" />

    </form>
{% endblock %}