{% extends 'base.html' %}

{% block title %}

{% endblock %}
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% block content %}
  <div class="container mt-3">
    <img src="{{ service.image.url }}" class="img-fluid" />
    <h1 style="margin-top: -50px ; color:#fd7e14; margin-left: 20px;">{{ service.title }}</h1>
    <div class="row justify-content-start">
      <div class="col-4 rounded-cricle" style="background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: 20px;">
        {{service.Appels}} Mil/min
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="col-4 rounded-cricle" style="background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: 20px;">
        {{service.SMS}} Mil/sms
        <br>
        <small>Le moins cher</small>
      </div>
      <div class="col-2" style="margin-left: 120px;">
        <button class="btn btn-sm btn-block btn-primary px-lg-2" type="button">Choisir cette offre</button>
      </div>
    </div>
    <hr class="border-4" style="border : 4px solid #fd7e14; margin-top: 20px;" />
    <h1 class="h3 mb-4 mt-2">Détails et avantages de l'offre</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Heading 1</h4>
          <p>Paragraph text</p>
        </div>
        <div class="col-md-2">
          <div class="d-flex justify-content-center align-items-center rounded-circle border" style="width: 100px; height: 100px; background-color: #fd7e14; color: rgb(0, 0, 0);">
            <p>Circle text</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="d-flex justify-content-center align-items-center rounded-circle border" style="width: 100px; height: 100px; background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: -40px;">
            <p>Circle text</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="d-flex justify-content-center align-items-center rounded-circle border" style="width: 100px; height: 100px; background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: -80px;">
            <p>Circle text</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="border-4" style="border : 4px solid #fd7e14; margin-top: 20px;" />
    <h1 class="h3 mb-4 mt-2">Options</h1>
    <div class="card mb-3" style="max-width: 100%; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp" class="img-fluid rounded-start" style="height: 80%;width: 100%;" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Bénéficiez également et en exclusivité des options:</h5>
            <p class="card-text">1.« Ena wayek » qui vous permettent de choisir un Numéro Favori de votre choix et profitez ainsi de 60 min par jour pour communiquer librement durant toute la journée avec une validité allant de 7 jours à un mois.

              Pour profiter des Options Ena Wayek composez le *105# Pour plus d’information cliquez ici.</p>
            <p class="card-text">
              <small class="text-muted">Pour plus d’information cliquez ici.</small>
            </p>
            <p>2.« Familti » qui vous permettent de choisir jusqu’à 5 membres pour former un groupe et partager entre vous, un forfait d’appels + Internet. Tous les membres du groupe peuvent s’appeler mais également se connecter librement et en toute sérénité entre eux en puisant dans les nouvelles options Familti Pour profiter des nouvelles options Familti, composez *225#</p>
            <p class="card-text">
              <small class="text-muted">Pour plus d’information cliquez ici.</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="border-4" style="border : 4px solid #fd7e14; margin-top: 20px;" />
    <h1 class="h3 mb-4 mt-2">Codes utiles</h1>
    <div class="card mb-3" style="max-width: 100%; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <ul class="list-group list-group-light">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                A list item
                <span class="badge rounded-pill" style="background-color: #fd7e14; color: rgb(0, 0, 0);">*124*212542243#</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                A second list item
                <span class="badge rounded-pill" style="background-color: #fd7e14; color: rgb(0, 0, 0);">1</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                A third list item
                <span class="badge rounded-pill" style="background-color: #fd7e14; color: rgb(0, 0, 0);">1</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp" class="img-fluid rounded-start" style="height: 80%;width: 100%;" />
        </div>
      </div>
    </div>
    <hr class="border-4" style="border : 4px solid #fd7e14; margin-top: 20px;" />
    <h1 class="h3 mb-4 mt-2">Téléphones associés à cette offre</h1>
    <h6>Optez pour une formule en PACK</h6>
    <div class="row mt-2" style="margin-left: 2%">
      <div class="card mx-2" style="border : 3px solid black; margin-top: 20px;">
        <img src="phone-image.jpg" class="card-img-top" alt="Phone Image" />
        <div class="card-body">
          <h5 class="card-title">Phone Title</h5>
          <p class="card-text">ROM: 128GB, RAM: 6GB, Camera: 12MP</p>
          <hr class="border-4" style="border : 1px solid #fd7e14; margin-top: 20px;" />
          <p class="card-text">Price: $499.99</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      <div class="card mx-2" style="border : 3px solid black; margin-top: 20px;">
        <img src="phone-image.jpg" class="card-img-top" alt="Phone Image" />
        <div class="card-body">
          <h5 class="card-title">Phone Title</h5>
          <p class="card-text">ROM: 128GB, RAM: 6GB, Camera: 12MP</p>
          <hr class="border-4" style="border : 1px solid #fd7e14; margin-top: 20px;" />
          <p class="card-text">Price: $499.99</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
      <div class="card mx-2" style="border : 3px solid black; margin-top: 20px;">
        <img src="phone-image.jpg" class="card-img-top" alt="Phone Image" />
        <div class="card-body">
          <h5 class="card-title">Phone Title</h5>
          <p class="card-text">ROM: 128GB, RAM: 6GB, Camera: 12MP</p>
          <hr class="border-4" style="border : 1px solid #fd7e14; margin-top: 20px;" />
          <p class="card-text">Price: $499.99</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
