{% extends 'base.html' %}

{% load static %}
{% block title %}
  <title>Services</title>
{% endblock %}
{% block content %}
  <section class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center mt-2">Liste Des Services</h2>
        </div>
        <div class="row articles mt-5">
            {% for service in services %}
            <div class="col-md-4 col-sm-6 item">
                <a href="#"> 
                    <img class="img-responsive" src="{{service.image.url}}" alt="Image" style="height: 200px; width: 300px;">
                </a>
                <h3 class="name text-center ">{{service.title}}</h3>
                <p class="description">{{service.content|linebreaksbr|truncatechars:50}}</p>
                <a class=" text-center" href="{% url 'services:detail' service.id %}" 
                style="color: #fd7e14;"
                >Read More</a>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
