{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="container">
<h1 class=" mt-5" style="color: orangered;">Modifier un service</h1>
    <div class="mt-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Modifier" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}